 .u-section-1 {
  min-height: 1147px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  font-size: 3rem;
  margin: 61px calc(((100% - 1140px) / 2) + 376px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-shape-1 {
  background-image: none;
  height: 286px;
  margin-top: 380px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 721px;
  height: 721px;
  object-position: 2.6% 50%;
  background-position: 50% 50%;
  background-image: url("images/vbvb-min.jpg");
  margin: -615px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-list-1 {
  width: 732px;
  margin: -236px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  min-height: 204px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 26px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 26px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 10px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: -680px auto 60px calc(((100% - 1140px) / 2));
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 176px);
    margin-left: calc(((100% - 940px) / 2));
    --animation-custom_in-scale: 0.3;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 262px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -744px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -215px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 228px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 4px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -741px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1177px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 38px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 408px;
  }

  .u-section-1 .u-image-1 {
    width: 460px;
    height: 460px;
    margin-top: -544px;
    margin-right: calc(((100% - 540px) / 2) + 29px);
  }

  .u-section-1 .u-list-1 {
    width: 410px;
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + 54px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 292px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 3px 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 3px 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 3px 20px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 3px 20px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -879px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1057px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.5rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -575px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -86px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 228px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -575px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 905px;
}

.u-section-2 .u-image-1 {
  height: 637px;
  object-position: 33.83% 67.46%;
  filter: brightness(0.7);
  margin: 0;
}

.u-section-2 .u-text-1 {
  width: 822px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: -573px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 54px calc(((100% - 1140px) / 2) + 115px) 0 calc(((100% - 1140px) / 2) + 136px);
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 85px auto 43px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 102px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 462px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 101px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 468px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-5 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 464px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-7 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: -19px auto 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75rem;
  border-style: none;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 786px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 36px);
    margin-right: calc(((100% - 940px) / 2) + 15px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 83px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 79px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 386px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 382px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 82px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 841px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 127px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 121px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1238px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1038px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 115px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 119px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 771px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 103px;
  margin-bottom: 40px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  margin: 41px 7px 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 41px auto 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 599px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 863px;
  margin: 70px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 279px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 388px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    font-size: 1rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 600px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 730px;
}

.u-section-5 .u-shape-1 {
  width: 331px;
  height: 630px;
  margin: 0 354px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1025px;
  margin: -570px auto 60px;
}

.u-section-5 .u-image-1 {
  min-height: 416px;
  background-image: url("images/fggf.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 208px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  min-height: 208px;
  background-image: url("images/mug-gac3663bf8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 208px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px;
}

.u-section-5 .u-image-3 {
  min-height: 208px;
  background-image: url("images/ghh.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 416px;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 40px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 125px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-5 .u-image-2 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 191px;
  }

  .u-section-5 .u-image-3 {
    min-height: 191px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 382px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 609px;
    margin-top: -630px;
    margin-right: 43px;
  }

  .u-section-5 .u-image-1 {
    min-height: 551px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-5 .u-image-2 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 276px;
  }

  .u-section-5 .u-image-3 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 393px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 60px 50px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2923px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: auto;
    margin-left: 51px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 437px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 447px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 448px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 517px;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 50px 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 298px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-5 .u-image-2 {
    min-height: 298px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 298px;
  }

  .u-section-5 .u-image-3 {
    min-height: 298px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 984px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  width: 261px;
  margin: 53px auto 0;
}

.u-section-6 .u-text-2 {
  width: 682px;
  margin: 26px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 735px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 735px;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px;
}

.u-section-6 .u-text-6 {
  margin: 1px 1px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 20px 1px 0;
}

.u-section-6 .u-text-8 {
  margin: 26px -2px 0 4px;
}

.u-section-6 .u-btn-2 {
  font-weight: 400;
  margin: 45px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 735px;
}

.u-section-6 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-6 .u-text-9 {
  margin: -2px 0 0;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  margin: 45px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 735px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-12 {
  margin: 0 auto;
}

.u-section-6 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  font-weight: 400;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 926px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 22px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 926px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 926px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-10 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 926px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: -2px;
    margin-right: -2px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 641px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 521px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 521px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1581px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 59px;
  margin-bottom: 20px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1338px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px 21px;
}

.u-section-7 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-7 .u-icon-4 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 0 30px 21px;
}

.u-section-7 .u-icon-5 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-11 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-7 .u-icon-6 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-13 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-7 .u-icon-7 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-15 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-8 {
  padding: 0 30px 21px;
}

.u-section-7 .u-icon-8 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-17 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 0 30px 13px;
}

.u-section-7 .u-icon-9 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto;
  padding: 8px;
}

.u-section-7 .u-text-19 {
  margin: 20px 20px 0;
}

.u-section-7 .u-text-20 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1103px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2112px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 21px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-4 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 21px;
  }

  .u-section-7 .u-icon-5 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-6 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-7 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-top: 21px;
  }

  .u-section-7 .u-icon-8 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-7 .u-icon-9 {
    margin-top: 14px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-line-1 {
  width: 180px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  width: 746px;
  margin: 22px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 836px;
  margin-top: 27px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 45px 445px 43px auto;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-8 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-8 .u-gallery-1 {
    height: 689px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 43px;
    margin-right: auto;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-gallery-1 {
    height: 1319px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3908px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-gallery-1 {
    height: 3561px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2589px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 3px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
    margin-top: 19px;
  }

  .u-section-8 .u-gallery-1 {
    height: 2242px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 811px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  background-image: none;
  min-height: 681px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  text-transform: none;
  margin: 0 317px 0 0;
}

.u-section-9 .u-form-1 {
  height: 334px;
  margin: 32px 0 0 -60px;
}

.u-section-9 .u-form-group-1 {
  margin-left: auto;
}

.u-section-9 .u-form-group-2 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-9 .u-form-group-3 {
  margin-left: auto;
}

.u-section-9 .u-form-group-4 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-9 .u-form-group-5 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-9 .u-form-group-6 {
  margin-left: auto;
}

.u-section-9 .u-form-group-7 {
  margin-left: auto;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  background-image: none;
  border-style: none;
  letter-spacing: 1px;
  margin-left: auto;
}

.u-section-9 .u-layout-cell-2 {
  background-image: none;
  min-height: 681px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-9 .u-text-2 {
  text-transform: none;
  margin: 6px 20px 0 26px;
}

.u-section-9 .u-text-3 {
  font-size: 1.5rem;
  margin: 29px 20px 0 26px;
}

.u-section-9 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 20px 0 26px;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 20px 0 26px;
}

.u-section-9 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 20px 0 26px;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 207px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-9 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 86px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }
}